@{
    ViewData["Title"] = "Материалы";
}
<body>
    <ul>
        <li><h2><a asp-controller="Materials" asp-action="Images">Изображения</a></h2></li>
        <li><h2><a asp-controller="Materials" asp-action="Models">Модельки</a></h2></li>
        <li><h2><a asp-controller="Materials" asp-action="Texts">Текстовая Информация</a></h2></li>
        <li><h2><a asp-controller="Materials" asp-action="Sounds">Звуки</a></h2></li>
        <li><h2><a asp-controller="Materials" asp-action="Animations">Анимации</a></h2></li>
    </ul>
</body>
